{{ tfDoNotEditStamp }}

{{range $consumer := .PullConsumers -}}
module "alerts-{{hclident $consumer.Queue}}" {
  source  = "cloudchacho/hedwig-alerts/google"
  version = "~> {{TFGoogleAlertsModuleVersion}}"

  subscription_name     = module.consumer-{{hclident $consumer.Queue}}.subscription_name
  dlq_subscription_name = module.consumer-{{hclident $consumer.Queue}}.dlq_subscription_name

  {{ with variables.GoogleProjectAlerting -}}
  alerting_project = var.alerting_project
  {{- end}}

  {{with .Labels -}}
  labels = {{hclvalue .}}
  {{- end}}

  queue_high_message_count_notification_channels = {{ hclvalue channels.QueueAlertNotificationChannels }}
  dlq_high_message_count_notification_channels   = {{ hclvalue channels.DLQAlertNotificationChannels }}
  {{ with or .HighMessageCountThreshold highMessageCountThreshold -}}
    queue_alarm_high_message_count_threshold = {{.}}
  {{- end}}
}

{{range $consumer.Subscriptions -}}
module "alerts-{{hclident $consumer.Queue}}-{{if (ne .Project "")}}{{hclident .Project}}-{{end}}{{hclident .Topic}}" {
  source  = "cloudchacho/hedwig-alerts/google"
  version = "~> {{TFGoogleAlertsModuleVersion}}"

  subscription_name = module.sub-{{hclident $consumer.Queue}}-{{if (ne .Project "")}}{{hclident .Project}}-{{end}}{{hclident .Topic}}.subscription_name

  {{ with variables.GoogleProjectAlerting -}}
  alerting_project = var.alerting_project
  {{- end}}

  {{with $consumer.Labels -}}
  labels = {{hclvalue .}}
  {{- end}}

  queue_high_message_count_notification_channels = {{ hclvalue channels.QueueAlertNotificationChannels }}
  dlq_high_message_count_notification_channels   = {{ hclvalue channels.DLQAlertNotificationChannels }}
  {{ with or .HighMessageCountThreshold highMessageCountThreshold -}}
    queue_alarm_high_message_count_threshold = {{.}}
  {{- end}}
}

{{end}}
{{- end}}
