{{ tfDoNotEditStamp }}

{{range .PullConsumers -}}
module "consumer-{{hclident .Queue}}" {
  source  = "standard-ai/hedwig-queue/google"
  version = "~> {{TFGoogleQueueModuleVersion}}"

  queue          = "{{.Queue}}"
  {{ with alerting -}}
    alerting       = "true"
  {{- end }}

  {{with .Labels -}}
  labels = {{hclvalue .}}
  {{- end}}

  {{if alerting -}}
      queue_high_message_count_notification_channels = {{ hclvalue channels.QueueAlertNotificationChannels }}
      dlq_high_message_count_notification_channels   = {{ hclvalue channels.DLQAlertNotificationChannels }}
  {{- end}}
}
{{- end}}
