{{ tfDoNotEditStamp }}

{{range .PullConsumers -}}
module "consumer-{{hclident .Queue}}" {
  source  = "cloudchacho/hedwig-queue/google"
  version = "~> {{TFGoogleQueueModuleVersion}}"

  queue          = "{{.Queue}}"

  {{with .ServiceAccount -}}
  iam_service_account = {{hclvalue .}}
  {{- end}}

  {{with .Labels -}}
  labels = {{hclvalue .}}
  {{- end}}
}

{{end}}
