{{ tfDoNotEditStamp }}

{{range $consumer := .PullConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{hclident $consumer.Queue}}-{{if (ne .Project "")}}{{hclident .Project}}-{{end}}{{hclident .Topic}}" {
  source  = "cloudchacho/hedwig-subscription/google"
  version = "~> {{TFGoogleSubscriptionModuleVersion}}"

  queue = "{{ $consumer.Queue }}"
  topic = {{if (eq .Project "")}} module.topic-{{hclident .Topic}}.name {{else}}"projects/{{ .Project }}/topics/hedwig-{{ .Topic }}"{{end}}

  {{ if .EnableOrdering -}}
  enable_message_ordering = true
  {{- end}}

  {{with $consumer.ServiceAccount -}}
  iam_service_account = {{hclvalue .}}
  {{- end}}

  {{with $consumer.Labels -}}
  labels = {{hclvalue .}}
  {{- end}}
}

{{end}}
{{- end}}
