{{ tfDoNotEditStamp }}

{{range $consumer := .PullConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{hclident $consumer.Queue}}-{{hclident .}}" {
  source  = "standard-ai/hedwig-subscription/google"
  version = "~> {{TFGoogleSubscriptionModuleVersion}}"

  queue = "{{ $consumer.Queue }}"
  topic = module.topic-{{hclident .}}.name

  {{with $consumer.ServiceAccount -}}
  iam_service_account = {{hclvalue .}}
  {{- end}}

  {{with $consumer.Labels -}}
  labels = {{hclvalue .}}
  {{- end}}
}

{{end}}
{{range $consumer.CrossProjectSubscriptions -}}
module "sub-{{hclident $consumer.Queue}}-{{hclident .Project}}-{{hclident .Topic}}" {
  source  = "standard-ai/hedwig-subscription/google"
  version = "~> {{TFGoogleSubscriptionModuleVersion}}"

  queue = "{{ $consumer.Queue }}"
  topic = "projects/{{ .Project }}/topics/hedwig-{{ .Topic }}"

  {{with $consumer.ServiceAccount -}}
  iam_service_account = {{hclvalue .}}
  {{- end}}

  {{with $consumer.Labels -}}
  labels = {{hclvalue .}}
  {{- end}}
}

{{end}}
{{- end}}
