{{ tfDoNotEditStamp }}

{{range .Topics -}}
module "topic-{{hclident .}}" {
  source  = "standard-ai/hedwig-topic/google"
  version = "~> {{TFGoogleTopicModuleVersion}}"

  topic = "{{.}}"
}
{{- end}}
