{{ tfDoNotEditStamp }}

{{range $consumer := .QueueConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{hclident $consumer.Queue}}-{{if (ne .AccountID "")}}{{hclident .AccountID}}-{{end}}{{hclident .Topic}}" {
  source  = "Automatic/hedwig-queue-subscription/aws"
  version = "~> {{TFAWSQueueSubscriptionModuleVersion}}"

  queue = "${module.consumer-{{hclident $consumer.Queue}}.queue_arn}"
  topic = {{if (eq .AccountID "")}} "${module.topic-{{hclident .Topic}}.arn}" {{else}}"arn:aws:sns:${var.aws_region}:{{ .AccountID }}:hedwig-{{ .Topic }}"{{end}}
}
{{end}}
{{end}}

{{range $consumer := .LambdaConsumers -}}
{{range $consumer.Subscriptions -}}
module "sub-{{$consumer.FunctionName | hclident }}-{{hclident .}}" {
  source  = "Automatic/hedwig-lambda-subscription/aws"
  version = "~> {{TFAWSLambdaSubscriptionModuleVersion}}"

  function_arn       = "{{$consumer.FunctionARN}}"
  function_name      = "{{$consumer.FunctionName}}"{{if $consumer.FunctionQualifier}}
  function_qualifier = "{{$consumer.FunctionQualifier}}"{{end}}
  topic              = "${module.topic-{{hclident .}}.arn}"
}
{{- end}}
{{- end}}
